.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .header__main-illustration {
    width: 615px;
    height: 548px;
  }
}
